In [1]:
import pandas as pd
from src.recsys_baseline import VSKNN_STAN
from src.evaluation import evaluate_sessions, MRR, HitRate
from src.utils import evaluation_results_to_csv

# Item knn sesion based recommendation
This is the base model that will be used to compare the RL model with.

# Initialise the model (`VSKNN_STAN`)
Model parameters are based on research of [S. Latifi, N. Mauro and D. Jannach. 2021. Session-aware recommendation: a surprising quest for the state-of-the-art. Information Sciences](https://doi.org/10.1016/j.ins.2021.05.048) 

* Optimised parameters for Retail Rocket dataset: [config](https://github.com/rn5l/session-rec/blob/5dcd583cbd8d44703a5248b9a308945f24b91390/conf/save/retailrocket/session_based/window/window_retailr_vstan.yml)  
    k: 500  
    sample_size: 1000  
    similarity: 'cosine'  
    stan:  
    lambda_spw: 7.24  
    lambda_snh: 100  
    lambda_inh: 3.62  
    vsknn:  
    lambda_ipw: 3.62  
    lambda_idf: 1  

* Optimised parameters for Diginetica dataset: [config](https://github.com/rn5l/session-rec/blob/5dcd583cbd8d44703a5248b9a308945f24b91390/conf/save/diginetica/window/window_multiple_digi_vstan.yml)  
    k: 100  
    sample_size: 1000  
    similarity: 'vec'  
    stan:  
    lambda_spw: 4.9  
    lambda_snh: 80  
    lambda_inh: 9.8  
    vsknn:  
    lambda_ipw: 4.9  
    lambda_idf: 5

## Retail Rocket

In [2]:
train_data = pd.read_csv(r'data\processed datasets\retailrocket\events_train.csv',
                    sep='\t',)
display(train_data.head())
display(train_data.shape)

         Time  UserId  Type  ItemId  SessionId
0  1438969904       2  view  325215          3
1  1438970013       2  view  325215          3
2  1438970212       2  view  259884          3
3  1438970468       2  view  216305          3
4  1438970905       2  view  342816          3

(1079830, 5)

In [3]:
test_data = pd.read_csv(r'data\processed datasets\retailrocket\events_test.csv',
                    sep='\t',)

display(test_data.head())
display(test_data.shape)

         Time  UserId  Type  ItemId  SessionId
0  1442004589       0  view  285930          1
1  1442004759       0  view  357564          1
2  1442004917       0  view   67045          1
3  1442338531      54  view  388096         66
4  1442338665      54  view  283115         66

(40771, 5)

In [4]:
model_Ret = VSKNN_STAN(k=500,
                       sample_size=1000,
                       similarity='cosine',  
                       #stan:  
                       lambda_spw=7.24,  
                       lambda_snh=100,  
                       lambda_inh=3.62,  
                       #vsknn:  
                       lambda_ipw=3.62, 
                       lambda_idf=1
                       )

In [5]:
model_Ret.fit(train=train_data, test=test_data)

In [6]:
metrics = [
    MRR(2),
    MRR(3),
    MRR(4),
    MRR(5),
    MRR(10),
    MRR(15),
    MRR(20),
    HitRate(1),
    HitRate(2),
    HitRate(3),
    HitRate(4),
    HitRate(5),
    HitRate(10),
    HitRate(15),
    HitRate(20)]

output = evaluate_sessions(pr=model_Ret,
                  metrics= metrics,
                  test_data=test_data,
                  train_data=train_data,
                  cut_off=20)
evaluation_results_to_csv(output=output, dataset_name='Retailrocket', algo_name='VSTAN (Baseline)', reward_func='no reward func')

START evaluation of  40771  actions in  13074  sessions
    eval process:  0  of  40771  actions:  0.0  %
    eval process:  1000  of  40771  actions:  2.452723749724069  %
    eval process:  2000  of  40771  actions:  4.905447499448138  %
    eval process:  3000  of  40771  actions:  7.358171249172206  %
    eval process:  4000  of  40771  actions:  9.810894998896275  %
    eval process:  5000  of  40771  actions:  12.263618748620344  %
    eval process:  6000  of  40771  actions:  14.716342498344412  %
    eval process:  7000  of  40771  actions:  17.16906624806848  %
    eval process:  8000  of  40771  actions:  19.62178999779255  %
    eval process:  9000  of  40771  actions:  22.074513747516615  %
    eval process:  10000  of  40771  actions:  24.527237497240687  %
    eval process:  11000  of  40771  actions:  26.979961246964756  %
    eval process:  12000  of  40771  actions:  29.432684996688824  %
    eval process:  13000  of  40771  actions:  31.885408746412892  %
    eval process:  14000  of  40771  actions:  34.33813249613696  %
    eval process:  15000  of  40771  actions:  36.79085624586103  %
    eval process:  16000  of  40771  actions:  39.2435799955851  %
    eval process:  17000  of  40771  actions:  41.696303745309166  %
    eval process:  18000  of  40771  actions:  44.14902749503323  %
    eval process:  19000  of  40771  actions:  46.6017512447573  %
    eval process:  20000  of  40771  actions:  49.054474994481374  %
    eval process:  21000  of  40771  actions:  51.50719874420544  %
    eval process:  22000  of  40771  actions:  53.95992249392951  %
    eval process:  23000  of  40771  actions:  56.412646243653576  %
    eval process:  24000  of  40771  actions:  58.86536999337765  %
    eval process:  25000  of  40771  actions:  61.31809374310171  %
    eval process:  26000  of  40771  actions:  63.770817492825785  %
    eval process:  27000  of  40771  actions:  66.22354124254986  %
    eval process:  28000  of  40771  actions:  68.67626499227391  %
    eval process:  29000  of  40771  actions:  71.12898874199799  %
    eval process:  30000  of  40771  actions:  73.58171249172206  %
    eval process:  31000  of  40771  actions:  76.03443624144613  %
    eval process:  32000  of  40771  actions:  78.4871599911702  %
    eval process:  33000  of  40771  actions:  80.93988374089426  %
    eval process:  34000  of  40771  actions:  83.39260749061833  %
    eval process:  35000  of  40771  actions:  85.8453312403424  %
    eval process:  36000  of  40771  actions:  88.29805499006646  %
    eval process:  37000  of  40771  actions:  90.75077873979053  %
    eval process:  38000  of  40771  actions:  93.2035024895146  %
    eval process:  39000  of  40771  actions:  95.65622623923868  %
    eval process:  40000  of  40771  actions:  98.10894998896275  %
END evaluation

         Dataset         Algorithm Reward Function        Metric     Value
0   Retailrocket  VSTAN (Baseline)  no reward func       MRR@2:   0.371791
1   Retailrocket  VSTAN (Baseline)  no reward func       MRR@3:   0.390518
2   Retailrocket  VSTAN (Baseline)  no reward func       MRR@4:   0.399454
3   Retailrocket  VSTAN (Baseline)  no reward func       MRR@5:   0.404631
4   Retailrocket  VSTAN (Baseline)  no reward func      MRR@10:   0.413686
5   Retailrocket  VSTAN (Baseline)  no reward func      MRR@15:   0.416188
6   Retailrocket  VSTAN (Baseline)  no reward func      MRR@20:   0.417399
7   Retailrocket  VSTAN (Baseline)  no reward func   HitRate@1:   0.317580
8   Retailrocket  VSTAN (Baseline)  no reward func   HitRate@2:   0.426003
9   Retailrocket  VSTAN (Baseline)  no reward func   HitRate@3:   0.482182
10  Retailrocket  VSTAN (Baseline)  no reward func   HitRate@4:   0.517926
11  Retailrocket  VSTAN (Baseline)  no reward func   HitRate@5:   0.543813
12  Retailrocket  VSTAN (Baseline)  no reward func  HitRate@10:   0.610499
13  Retailrocket  VSTAN (Baseline)  no reward func  HitRate@15:   0.642163
14  Retailrocket  VSTAN (Baseline)  no reward func  HitRate@20:   0.663465